@model aprendendoGenyx.Models.Usuarios
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<div id="login">
    <div class="login-wrapper" data-active="log">
        <a class="brand" href="~/Views/Home/Index.cshtml">
            <img src="~/Content/Genyx/html/images/chronos-biometria.png" alt="Genyx admin">
        </a>
        <div id="log">

            <div class="page-header">
                <h3 class="center">Efetue o login</h3>
            </div>
            @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-horizontal", id = "login-form", @novalidate = "novalidate" }))
            {
                @Html.AntiForgeryToken() //previne o ataque CSRF
                @Html.ValidationSummary(true)
                if (@ViewBag.Message != null)
                {
                    <div style="border:1px solid red">
                        @ViewBag.Message
                    </div>
                }
                <div class="row-fluid">
                    <div class="control-group">
                        <div class="controls-row">
                            <div class="icon"><i class="icon20 i-user"></i></div>
                            @Html.TextBoxFor(a => a.NomeUsuario, new { @class = "span12 valid", id = "user", @placeholder = "Username" }) @*<input class="span12 valid" type="text" name="user" id="user" placeholder="Username" value="suggeelson@suggeelson.com">*@
                            @Html.ValidationMessageFor(a => a.NomeUsuario)
                        </div>
                    </div><!-- End .control-group  -->
                    <div class="control-group">
                        <div class="controls-row">
                            <div class="icon"><i class="icon20 i-key"></i></div>
                            @Html.PasswordFor(a => a.Senha, new { @class = "span12 valid", id = "password", @placeholder = "Password" }) @*<input class="span12 valid" type="password" name="password" id="password" placeholder="Password" value="somepassword">*@
                            @Html.ValidationMessageFor(a => a.Senha)
                        </div>
                    </div><!-- End .control-group  -->
                    <div class="form-actions full">
                        <label class="checkbox pull-left">
                            <div class="checker"><input type="checkbox" value="1" name="remember"></div>
                            <span class="pad-left5">Lembre-me ?</span>
                        </label>
                        <button id="loginBtn" type="submit" class="btn btn-primary pull-right span5">Login</button>
                    </div>
                </div><!-- End .row-fluid  -->
            }
        </div>

        <div id="forgot">
            <div class="page-header">
                <h3 class="center">Forgot password</h3>
            </div>
            <form class="form-horizontal">
                <div class="row-fluid">
                    <div class="control-group">
                        <div class="controls-row">
                            <div class="icon"><i class="icon20 i-user"></i></div>
                            <input class="span12" type="text" name="user" id="user" placeholder="Username">
                        </div>
                    </div><!-- End .control-group  -->
                    <div class="control-group">
                        <div class="controls-row">
                            <div class="icon"><i class="icon20 i-envelop-2"></i></div>
                            <input class="span12" type="text" name="email" id="email-field" placeholder="Your email">
                        </div>
                    </div><!-- End .control-group  -->
                    <div class="form-actions full">
                        <button type="submit" class="btn btn-large btn-block btn-success">Recupere minha senha</button>
                    </div>
                </div><!-- End .row-fluid  -->
            </form>
        </div>
    </div>
    <div id="bar" data-active="log">
        <div class="btn-group btn-group-vertical">
            <a id="log" href="#" class="btn tipR" title="" data-original-title="Login"><i class="icon16 i-key"></i></a>

            <a id="forgot" href="#" class="btn tipR" title="" data-original-title="Forgout password"><i class="icon16 i-question"></i></a>
        </div>
    </div>

</div>